.slick-slide {
  padding: 0 15px; /* Adds 15px margin to each side of the slick slide */
}

.slick-list {
  margin-left: -15px; /* Adjust margin to compensate for the added padding */
  margin-right: -15px;
}

.single-client img {
  width: 100%; /* Make the logo responsive */
  height: auto;
}

.slick-prev,
.slick-next {
  z-index: 1;
  background-color: #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-prev:before,
.slick-next:before {
  color: #fff;
  font-size: 20px;
}
